Write a Pandas program to filter the records from the world alcohol consumption dataset where the life expectancy is above the average life expectancy of all countries. Retrieve the country, life expectancy, and GDP per capita for these filtered records.

In [1]:
import pandas as pd

df=pd.read_csv("dataset/World_Alcohol_Dataset - MAIN.csv")

In [11]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,life_expentancy,region,gdp_per_capita
0,Afghanistan,0,0,0,65.0,ASIA (EX. NEAR EAST),700
1,Albania,89,132,54,77.8,EASTERN EUROPE,4500
2,Algeria,25,0,14,75.6,NORTHERN AFRICA,6000
3,Angola,217,57,45,52.4,SUB-SAHARAN AFRICA,1900
4,Antigua and Barbuda,102,128,45,76.4,LATIN AMER. & CARIB,11000

In [15]:
average_life_expectancy= df["life_expentancy"].mean()
df[df["life_expentancy"]>average_life_expectancy][["country","life_expentancy","gdp_per_capita"]]

                 country  life_expentancy  gdp_per_capita
1                Albania             77.8            4500
2                Algeria             75.6            6000
4    Antigua and Barbuda             76.4           11000
5              Argentina             76.3           11200
6                Armenia             74.8            3500
..                   ...              ...             ...
168              Uruguay             77.0           12800
169                  USA             79.3           37800
171              Vanuatu             72.0            2900
172            Venezuela             74.1            4800
173              Vietnam             76.0            2500

[104 rows x 3 columns]