Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight dataframeâ€™s specific columns with different colors.

In [8]:
import pandas as pd
import numpy as np

# Creating the df
data = np.random.rand(10, 4) # Creating a 10x4 array of random values
df = pd.DataFrame(data, columns=['first', 'second', 'third', 'fourth']) # Converting the array in a df

In [9]:
df

      first    second     third    fourth
0  0.458726  0.703750  0.044734  0.975162
1  0.525039  0.953614  0.756347  0.983349
2  0.998732  0.389738  0.259663  0.460041
3  0.297767  0.180241  0.998290  0.733034
4  0.063865  0.942918  0.908949  0.996441
5  0.036917  0.105185  0.281460  0.324474
6  0.831789  0.968800  0.811129  0.958962
7  0.634421  0.367698  0.617250  0.196690
8  0.674685  0.156344  0.337715  0.383231
9  0.483222  0.275070  0.121941  0.916102

In [13]:
def highlight_columns(dfcolumns, columns_to_highlight) :
    
    columns_to_highlight = columns_to_highlight.split(',') # prepare the user input

    for column in columns_to_highlight :
        if column.lower() in dfcolumns.name.lower():
            return ['background-color: green'] * len(dfcolumns)
        
    return [''] * len(dfcolumns)

# User input to choose the columns to highlight
input = input('Choose columns to highlight separated by a comma: ')

# Using 'highlight_columns' function and user input
coloured_df = df.style.apply(highlight_columns, columns_to_highlight=input)
coloured_df