Write a Pandas program to extract specific records from the world alcohol consumption dataset, starting from the 2nd row, and selecting every 5th row thereafter.

In [1]:
import pandas as pd

df=pd.read_csv("dataset/World_Alcohol_Dataset - MAIN.csv")

In [2]:
df

,country,beer_servings,spirit_servings,wine_servings,life_expentancy,region,gdp_per_capita
0,Afghanistan,0,0,0,65.0,ASIA (EX. NEAR EAST),700
1,Albania,89,132,54,77.8,EASTERN EUROPE,4500
2,Algeria,25,0,14,75.6,NORTHERN AFRICA,6000
3,Angola,217,57,45,52.4,SUB-SAHARAN AFRICA,1900
4,Antigua and Barbuda,102,128,45,76.4,LATIN AMER. & CARIB,11000
...,...,...,...,...,...,...,...
172,Venezuela,333,100,3,74.1,LATIN AMER. & CARIB,4800
173,Vietnam,111,2,1,76.0,ASIA (EX. NEAR EAST),2500
174,Yemen,6,0,0,65.7,NEAR EAST,650
175,Zambia,32,19,4,61.8,SUB-SAHARAN AFRICA,1000
176,Zimbabwe,64,18,4,67.0,SUB-SAHARAN AFRICA,950

In [7]:
df.iloc[1::5]

,country,beer_servings,spirit_servings,wine_servings,life_expentancy,region,gdp_per_capita
1,Albania,89,132,54,77.8,EASTERN EUROPE,4500
6,Armenia,21,179,11,74.8,C.W. OF IND. STATES,3500
11,Bahrain,42,63,7,76.9,NEAR EAST,16900
16,Belize,263,114,8,71.0,LATIN AMER. & CARIB,4900
21,Botswana,173,35,35,65.7,SUB-SAHARAN AFRICA,9000
26,Burundi,88,0,0,59.6,SUB-SAHARAN AFRICA,600
31,Central African Republic,17,2,1,52.5,SUB-SAHARAN AFRICA,1100
36,Comoros,1,3,1,63.5,SUB-SAHARAN AFRICA,700
41,Cuba,93,137,5,79.1,LATIN AMER. & CARIB,2900
46,Dominican Republic,193,147,9,73.9,LATIN AMER. & CARIB,6000
51,Equatorial Guinea,92,0,233,58.2,SUB-SAHARAN AFRICA,2700
56,Finland,263,133,97,81.1,WESTERN EUROPE,27400
61,Germany,346,117,175,81.0,WESTERN EUROPE,27600
66,Guinea,9,0,2,59.0,SUB-SAHARAN AFRICA,2100
71,Hungary,234,215,185,75.8,EASTERN EUROPE,13900
76,Iraq,9,3,0,68.9,NEAR EAST,1500
81,Japan,77,202,16,83.7,ASIA (EX. NEAR EAST),28200
86,Kuwait,0,0,0,74.7,NEAR EAST,19000
91,Lesotho,82,29,0,53.7,SUB-SAHARAN AFRICA,3000
96,Macedonia,?,27,86,75.7,EASTERN EUROPE,6700
101,Mali,5,1,1,58.2,SUB-SAHARAN AFRICA,900
106,Moldova,109,226,18,72.1,C.W. OF IND. STATES,1800
111,Namibia,376,3,1,65.8,SUB-SAHARAN AFRICA,7200
116,Niger,3,2,1,61.8,SUB-SAHARAN AFRICA,800
121,Pakistan,0,0,0,66.4,ASIA (EX. NEAR EAST),2100
126,Philippines,71,186,1,68.5,ASIA (EX. NEAR EAST),4600
131,Russia,247,326,73,75.0,C.W. OF IND. STATES,8900
136,Serbia,283,131,127,75.6,EASTERN EUROPE,2200
141,Slovenia,270,51,276,88.0,EASTERN EUROPE,19000
146,Spain,284,157,112,82.8,WESTERN EUROPE,22000
151,Sweden,152,60,186,82.4,WESTERN EUROPE,26800
156,Thailand,99,258,1,74.9,ASIA (EX. NEAR EAST),7400
161,Tunisia,51,3,20,75.3,NORTHERN AFRICA,6900
166,United Arab Emirates,16,135,5,77.1,NEAR EAST,23200
171,Vanuatu,21,18,11,72.0,OCEANIA,2900
176,Zimbabwe,64,18,4,67.0,SUB-SAHARAN AFRICA,950